html, body {
  height: 800px;
  margin: 0;
  padding: 0;
}

#map {
  height: 450px;
}

#textfield {
  display: none;
}

#images {
  column-count: 4;
  column-width: 200px;
  column-gap: 6px;
}

#expanded {
  position: fixed;
  z-index: 10;
  top: 25%;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.full-width {
  margin: 20px auto;
  padding: 20px;
  max-width: 960px;
}

.result {
  padding: 0;
  height: auto;
  width: 100%;
  border-radius: 3px;
  transition: .2s;
}

.result:hover {
  opacity: .8;
}

.big_preview {
  width: 40%;
  height: auto;
  margin: 10px 0 5px 30%;
}
