html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: bottom;
}

p {
  margin: 0;
  color: white;
}

#map {
  height: 450px;
}

#textfield {
  display: none;
}

#images {
  column-count: 4;
  column-width: 200px;
  column-gap: 10px;
}

#expanded {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  text-align: center;
}

#location_data {
  padding-top: 15px;
  display: none;
  height: 50px;
  width: 100%;
  z-index: 10;
  box-shadow: 0 0 10 0 black;
  background-color: lightslategray;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.result {
  margin: 5px 0 5px 0;
  height: auto;
  width: 100%;
  border: 5px solid white;
  transition: .5s;
}

.result:hover {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}

.big_preview {
  width: auto;
  height: 90%;
  border: 10px solid white;
  box-sizing: border-box;
  box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.7);
}


/*Action Bar Styles*/
#action_bar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100%;
  padding: 7px;
  margin: 0;
  background-color: ghostwhite;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.action_preview {
  height: 65px;
  width: auto;
}

/*Collection Styles*/

#collection_outer {
  display: none;
  width: 100%;
  background-color: lightcoral;
  padding: 10px 0 10px 0;
  overflow: scroll;
}

#collection_inner {
  width: 0px;
  height: 100px;
}

#collection_action {
  display: none;
  height: 50px  ;
  width: 100%;
  background-color: tomato;
  text-align: center;
  padding: 6px 0 10px 0;
}

.collected_img {
  height: 100px;
  width: auto;
  margin: 0 5px 0 5px;
  box-sizing: border-box;
  border: 5px solid white;
  display: inline;
  transition: .5s;
}

.collected_img:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

/* collection page styles */

.collection_header {
  width: 100%;
  height: 50px;
  background-color: tomato;
  text-align: center;
  padding-top: 1px;
  color: white;
  margin: 20px 0 0 0;
}

.collection_body {
  width: 100%;
  height: 400px;
  background-color: lightslategray;
  padding: 10px;
  column-count: 3;
}

#collection_name {
  display: none;
}

.collected_img_page {
  height: auto;
  width: 100%;
}
